*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://images.unsplash.com/photo-1552083940-86877723de7a?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    
    border-image-repeat: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }

.container{
    background: rgb(0, 3, 9);
    padding: 50px;
    border-radius: 20px;
}

input{
    padding: 15px;
    border: none;
    outline: none;
    background: lightcyan;
    width: 300px;
    margin-right: 10px;
    border-radius: 5px;
}

button{
    border-radius: 100px;
    background-origin: black;
    padding: 5px;
    border: none;
    outline: none;
    color: rgb(6, 1, 44);
    padding: 10px 20px;
    cursor: pointer;
}

.todos-list{
    margin-top: 3rem;
}

.todo{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(146, 245, 245);
    border-radius: 5px;
    padding: 7px 20px;
    margin:5px;
    font-family: sans-serif;
}

.close{
    padding: 5px 10px;
    cursor: pointer;
    background-image: url();
}
